{
    "printWidth": 150,
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "overrides": [
        {
            "files": ["*.eslintrc", "*.json", "*.md"],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
